.container {
  position: relative;
  z-index: 0;
  height: fit-content;
  background-color: var(--background);
  color: var(--foreground);
  padding: 2rem;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  gap: 3rem;
}

.leftSection {
  margin-bottom: 2.5rem;
}

.title {
  text-align: center;
  font-size: 6rem !important;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
  margin-top: 0;
}

.highlight {
  color: var(--primary);
}

.description {
  color: #9ca3af;
  text-align: center;
  font-size: 2rem;
}
.rightSection {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1rem;
}

.timelineLine {
  position: absolute;
  left: 24px;
  top: 32px;
  bottom: 1px;
  width: 1px;
  background-color: #374151;
}

.step {
  display: flex;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1.25rem;
}

.iconContainer {
  position: relative;
}

.iconWrapper {
  padding-top: 3px;
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--foreground);
  background-color: var(--background);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.icon {
  font-size: 1.5rem;
  color: var(--foreground);
}

.stepContent {
  flex: 1;
}

.stepTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.stepDescription {
  color: #9ca3af;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 5.5rem;
    text-align: start;
  }
  .description {
    text-align: start;
    font-size: 1.5rem;
  }
  .leftSection {
    margin-bottom: 0;
  }

  .leftSectionWrapper {
    position: relative;
    height: 100%;
  }

  .leftContent {
    position: absolute;
    width: 100%;
    transition: transform 0.1s ease-out;
  }
}
